* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.input-container input {
  padding: 5px;
  font-size: 14px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #979595;
}
.input-container button {
  padding: 6px 15px;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  color: white;
  background-color: #062c50e3;
  border-radius: 4px;
}

p {
  word-wrap: break-word;
  max-width: 680px;
  margin: 0 20;
}
.shape-container {
  width: 300;
  height: 300;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.shape-item-div {
  width: 100;
  height: 100;
  border: 1px solid black;
}
